.cursor {
    cursor: pointer;
}

.darkBG {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(.3rem);
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    height: fit-content;
    max-height: 90vh;
    background: white;
    color: black;
    border-radius: 16px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}

.productTitle {
    margin: 0;
    padding: 10px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.modalContent {
    position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rightArrow {
    position: absolute;
    top: 40%;
    right: 15px;
  }

  .leftArrow {
    position: absolute;
    top: 40%;
    left: 15px;
  }

.productImages {
    width: fit-content;
    max-width: 60vw;
  height: fit-content;
  max-height: 70vh;
  object-fit: cover;
  margin: 5px 20px;
  border-radius: 10px;
}

.productDescription {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    margin-top: 5px;
    color: #333;
}

.modalActions {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.closeButton {
    position: absolute !important;
    right: 20px;
    top: 13px;
    min-width: 25px !important;
    height: 25px !important;
    padding: 0;
    color: #fff;
}
.closeButton svg {
    font-size: 10px;
}